<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12 col-lg-12   text-end">
            <!-- style="border-right: 1px solid black" -->
            <div class="container pt-3">
                <h1 class="h1  text-center">8 Best Indian Stock Market Blogs to Follow</h1>
                <p class="author text-start">by Kritesh Abhishek | Aug 20, 2022 | Investment Basics | 207 comments</p>
                <a href="blog2"><img class="img-fluid text-end" alt="blogimg" src="./assets/blogimg.jpg" width="1070"
                        height="500"></a>
                <div class="row social p-3">
                    <div class="col-xl-2 bg-primary text-black text-center"><i class='fab fa-facebook-f'
                            style='font-size:24px'></i></div>
                    <div class="col-xl-2 bg-info text-black  text-center"><i class="fas fa-cloud"></i></div>
                    <div class="col-xl-2 bg-primary text-black text-center"> <i class="fas fa-cloud"></i></div>
                    <div class="col-xl-2 bg-warning text-black text-center"> <i class="fas fa-cloud"></i></div>
                    <div class="col-xl-2 bg-primary text-black text-center"> <i class="fas fa-cloud"></i></div>
                    <div class="col-xl-2 bg-success text-black text-center"> <i class="fas fa-cloud"></i></div>
                </div>
                <div style=" margin-top: 15px;"><span class="text2">Best Indian Stock Market Blogs to Follow to Learn
                        Investing:</span><span style="font-size:3vh;font-weight:bolder; color:rgba(0, 0, 0, 0.671)">If
                        you are looking for a few best Indian stock market blogs to follow, then you have reached the
                        right place.</span></div>
                <div class="mt-4">
                    <img class="img-fluid text-end" alt="blogimg" src="./assets/add1.jpg">
                    <p
                        style="font-size: 3vh; font-weight:bolder; color:rgba(0, 0, 0, 0.671); text-align: start; padding-left:25px;">
                        Although there are hundreds of stock investing blogs in India, however, in this post we have
                        hand-picked 7 best Indian stock market blogs that every Indian equity investor should follow.
                        (Quick note: Please read this post till the end as there’s a bonus in the last section of this
                        article).</p>
                </div>
                <div class="card text-start clearfix" style="background-color: rgba(240, 240, 240, 0.466);">
                    <div class="p-3" style="font-size: 4vh; font-weight:bolder; color:rgba(0, 0, 0, 0.671);"><span
                            class="float-start">Table of Contents</span>
                        <span class="float-end"> <button type="button" class="btn  btn-outline-dark"
                                data-bs-toggle="collapse" data-bs-target="#demo"><i class="fa fa-bars"
                                    style="font-size:24px"></i></button></span>
                    </div>
                    <div class="card-body collapse show" id="demo">
                        <p style="font-size: 3vh; font-weight:bold; color:rgba(0, 0, 0, 0.747);"><a href="#H8">8 Best
                                Indian stock market Blogs to Follow</a></p>
                        <ol type="1"
                            style="font-size: 24px; font-weight:bold; color:rgba(0, 0, 0, 0.747);padding-left:80px;">
                            <li><a href="#H1">Trade Brains</a></li>
                            <li>Get Money Rich (GMR)</li>
                            <li>Fundoo Professor</li>
                            <li>Safal Niveshak</li>
                            <li>Nitin Bhatia</li>
                            <li>Stable Investor</li>
                            <li>Dr. Vijay Malik</li>
                            <li> Moneyexcel Personal Finance </li>
                        </ol>
                        <p style="font-size: 3vh; font-weight:bold; color:rgba(0, 0, 0, 0.747);">Bonus: A Few Other Top
                            Stock Market Blogs</p>
                    </div>
                </div>
                <div class="text-start">
                    <h1 class="p-3" id="H8" style="font-size: 5vh; font-weight:bold;">8 Best Indian stock market Blogs
                        to Follow</h1>
                    <p id="H1" style="font-size: 40px; font-weight:bold; padding-left:20px; line-height:5%;">1. Trade
                        Brains</p>
                    <img class="img-fluid text-end p-4" alt="blogimg" src="./assets/Trade-Brains-1.jpg" width="100%"
                        height="auto">
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="container-fluid bg-dark py-3">
    <div class="row">
        <div class="col-12 text-center">
            <i class="fa fa-chevron-circle-up" style="font-size:36px;color:white"></i>
        </div>
        <div class="col-12 col-lg-4 offset-lg-4 mt-2">
            <form action="/action_page.php">
                <div class="input-group mb-3">
                    <input required type="text" class="form-control" placeholder="Your Email" name="email">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-12 text-center pt-3">
            <img src="./assets/facebook.svg" alt="Face book">&nbsp;&nbsp;
            <img src="./assets/instagram.svg" alt="instagram">&nbsp;&nbsp;
            <img src="./assets/twitter.svg" alt="Face book">&nbsp;&nbsp;
            <img src="./assets/location.svg" alt="Face book">&nbsp;&nbsp;
        </div>
        <div class="col-12 text-center mt-4">
            <p class="text-secondary">Copy Right &copy; AbhijeetDudhe</p>
        </div>
    </div>
</footer>