
.h1{
    font-size: 5vh;
   color: rgba(0, 0, 0, 0.726);
}
.author{ 
    padding-left: 12%;
    font-size:20px;
    color: rgba(0, 0, 0, 0.603);
}
.img-fluid{
    padding-left: 40px;
}
.social{
    margin-left:6%;
    margin-top: 30px;
}
.social .col-xl-2{
    padding:5px;
}
.social .col-xl-2:hover{
    opacity: .6;
    cursor: pointer;
    
}
.text2{
    font-weight: bold;
    font-size:3vh;
}