<header>
  <section id="top" class="bg-primary">
    <div class="top container">
      <div class="row py-1">
        <div class="col-12 col-lg-6">
          <p class="text-light m-0"><b>Email: @abhidudhe2000@gmail.com</b></p>
        </div>
        <div class="col-12 col-lg-6 text-lg-end">
          <p class="text-light m-0"><b>Phone: +91 932 237 2765</b></p>
        </div>
      </div>
    </div>
  </section>
  <!-- end top -->

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="./assets/logo.ico" alt="pencil-boy img" width="30px"></a>
      <!--   Logo -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog1" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog2" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog3" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog4" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog5" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Blog5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">Contact-US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav bar end   -->
  <router-outlet></router-outlet>
</header>

<!-- end top -->
<!-- Navbar Start -->
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
      <img src="./assets/logo.ico" alt="pencil-boy img" width="30px">
      </a>  -->

<!--   Logo -->
<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link px-3 active" routerLink="" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3"  routerLink="blog1" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="blog2" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="blog3" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="blog4" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="blog5" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Blog5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="contact" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact US</a>
          </li>
        </ul>
      </div>
    </div> 
  </nav>-->