<div class="masthead container-fluid" style="background-image: url('./assets/foodBlog.png');">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <marquee width="100%" direction="right">
            <h1>WELCOME TO FOOD BLOG</h1>
        </marquee>
    </div>
</div>
<section class="container-fluid py-3 mt-5 mb-1" style="background-color: rgba(230, 227, 227, 0.733);">
    <div class="container">
          <div class="row py-3">
            <div class="col-lg-12 col-12">
                <h1 class="heading text-center"><b style="color: lawngreen;">Top 10 Festival Foods In India</b></h1>
                <p>“Why do we prepare certain delicacies on festival occasions only?” “why milk is the core ingredient
                    in preparations on festivals like Janmashtami or why is modak a must have sweet during the festival
                    of Ganesh Chaturthi?”, and so on and so forth… All comes down to one thing that we all enjoy eating
                    each and every delicacies no matter what the occasion or festival it is. Some of the top celebrities
                    in India love these 20 Dishes.</p>
                <p>There are numerous festivals in India and thus, followed by, many mouth-watering and jaw-dropping
                    sweets and meals. Special dishes are prepared and also offered to the respective God(s) and seasons
                    play a very important role in celebrations of different festivals. Here are some of the major food
                    delicacies that every person loves to get their mouth on.</p>
            </div>
            <div class="col-lg-12 col-12 py-2">
                <a href="blog1"><img class="img-fluid mx-auto d-block" src="./assets/dish1.jpg" alt="dish1"></a>
            </div>
        </div>
        </div>
        </section>
        <section class="container-fluid py-3" >
            <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish2.jpg" alt="dish2"></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Mithai</span> For The Festival Of <span style="color:lawngreen">Diwali</span></b></h2>
                <p>Diwali is one such festival where a wife allows her husband who has diabetes to eat his heart. Yes,
                    Diwali is famous for its “mithai” or sweets, during that day each and every household will have a
                    combination of freshly made snacks ranging from Jalebis to Gulab Jamun, Shankarpali to Kheer, Gajar
                    Ka Halwa to Kaju barfi and many more. Along with this savoury dishes are also served.</p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Bhang</span> For The Festival Of <span style="color:lawngreen">Holi</span></b></h2>
                <p>Although traditional Holi dishes vary from region to region there are some “must have” which can be
                    found even in the remote areas of the country. Among the list the is thandai or a more commonly used
                    word “bhang” is a sweet, creamy milk drink. The drink is a combination of different nuts and exotic
                    spices such as cardamom, rose petals and fennel. But during the particular festival, the interesting
                    drink is served with a pinch of bhang (or marijuana).</p>
                <h2>continue watching</h2>
            </div>
            <div class="col-lg-4 col-12 text-lg-start">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish3.jpg" alt="dish3"></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish4.jpg" alt="dish4"></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Sabudana Khichdi</span> For The Festival Of <span style="color:lawngreen">Dussehra</span></b></h2>
                <p>This festival is considered one of the most important festivals in India and is celebrated with
                    lip-smacking food too. During this time of the year many people observe fasts and are restricted to
                    some type of food items. Most famous food is the Sabudana Khichdi. This easy dish uses small sized
                    pearl (sabudana)and brings every taste in every spoonful.</p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row py-3">

            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Sandesh</span> For The Festival Of <span style="color:lawngreen">Durga Puja</span></b></h2>
                <p>Is sometimes also referred to as Durgotsav. It is an annual Hindu festival celebrated mostly in South
                    India, worshiping the Hindu goddess Durga. It is one such festival which is also known as the
                    foodie’s paradise with many lip-smacking dishes and sweets. Sandesh is one of the festival sweets
                    which is a must have for everyone. Prepared with milk, sugar and paneer and decorated with dry
                    fruits, this will melt in your mouth.</p>
                <h2>continue watching</h2>
            </div>
            <div class="col-lg-4 col-12 text-lg-start">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish5.jpg" alt="dish5"></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish6.jpg" alt="dish6"></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Almond Halva</span> For The Festival Of <span style="color:lawngreen">Janmashtami</span></b></h2>
                <p>Janmashtami is again one of the most beautiful festivals celebrated in India. The celebrations are
                    very popular in places like Mathura and Vrindavan. People fast during the daytime and break it with
                    a special meal after sunset. These special meals include flaked Almond and Saffron Halva. It is
                    another special dish which can be had with the whole family and enjoyed.</p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Modak</span> For The Festival Of <span style="color:lawngreen">Ganesh Chaturthi</span></b></h2>
                <p>Ganesh Chaturthi, considered as an important religious festival in India, is a 10 day long affair of
                    fun festivities. Huge Ganesh idols are installed in homes or outdoors and even in public pandals.
                    Pujas are performed all day long, and at the last day, Visarjan, immersion of the idol(s) take
                    place. Cultural activities, consisting of singing, dancing, etc are held. The most loved snack which
                    this festival offers is the Modak, the favorite sweet of Lord Ganesha. There are many varieties of
                    Modak which are prepared during Ganesh Chaturthi, the most famous being the Maharashtrian modak
                    which is steamed and made out of rice flour.</p>
                <h2>continue watching</h2>
            </div>
            <div class="col-lg-4 col-12 text-lg-start">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish7.jpg" alt="dish7"></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish8.jpg" alt="dish8"></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Karah Prasad</span> For The Festival Of <span style="color:lawngreen">Gurupurab</span></b></h2>
                <p>Being the most important Sikh festival, the lives and teachings of the gurus are discussed on this
                    day. Langars also known as community meals, are organized in the devotional places like the
                    Gurudwaras and the Golden temple. Karah Prasad, that is the meal given to the devotees, is
                    distributed, and the day end by praying and singing devotional songs. People decorate their homes
                    and burst crackers to celebrate Gurpurab. Karah parshad is made with whole wheat flour, loads of
                    ghee and sugar. It is very tasty but comes with a price as it is high in calories( but eat it
                    anyways). Loved by one and all.</p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen">Kaju katali</span> For The Festival Of <span style="color:lawngreen">Raksha Bandhan</span></b></h2>
                <p>One of the most awaited festivals in India, Raksha Bandhan celebrates the brother – sister
                    relationship and their bond. As per Indian tradition it is the duty of the men to provide protection
                    to the women, specifically the brothers to their sisters. To symbolize this unique bond and love
                    between them, sister ties what looks like a piece of thread, Rakhi, onto her brother’s wrist. The
                    brother thus promises to be there to protect his sister against any evil. This is followed by
                    praying to God to shower His blessings. The most enjoyable parts of any Indian festival are the
                    mouth-watering food which is served on the special occasion. The day of Raksha Bandhan brings every
                    one’s favourite dishes on the dining table. Palatable food items like barfi, mithai and pakoras are
                    generally prepared for this day.</p>
                <h2>continue watching</h2>
            </div>
            <div class="col-lg-4 col-12 text-lg-start">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish9.jpg" alt="dish9"></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish10.jpg" alt="dish10"></a>
            </div>
            <div class="col-lg-8 col-12text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen"> Nawab Biryani</span> For The Festival Of <span style="color:lawngreen">Eid-ul-fitr</span></b></h2>
                <p>Eid is considered one of the most important festival in India for the Muslim community. People dress
                    up in their traditional attire, attend special community prayers in the morning, visit friends and
                    family, and exchange sweets. Children are often given idi (money or gift) by their loved ones. It
                    commemorates the ending of the holy month of fasting called Ramadan. The fast is always broken by
                    eating mouth-watering meals. One of those dishes is the Nawab Biryani which is loved by everyone.
                    This Biryani is tagged as ‘Nawabi’ for the reason being its rich taste.</p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-8 col-12 text-lg-center">
                <h2 class="heading1"><b><span style="color:lawngreen;"> Jaggery, Rice, Sesame</span> For The Festival Of <span style="color:lawngreen">Bihu</span></b></h2>
                <p>Considered one of the most popular festivals celebrated in the North East region of India, Bihu is
                    known as the harvest festival of Assam. During the 25-30 day long festival, young men and women
                    dress up in their traditional attire and perform their traditional dance in the village fields,
                    followed by a community feast, with a lot of fanfare. It’s like the traditional New Year celebration
                    of Assamese. The festival mostly involves cooking of food items like green vegetables, celebrating a
                    successful harvest and good quality crops. Other food items such as coconut, jaggery, rice, sesame,
                    milk and milk products are also prepared. Communities enjoy brewing fresh rice and cooking meat.</p>
                <h2>continue watching</h2>
            </div>
            <div class="col-lg-4 col-12 text-lg-start">
                <a href="blog1"><img class="img-fluid pt-2 pr-2" src="./assets/dish11.jpg" alt="dish11"></a>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid bg-dark py-3">
    <div class="row">
        <div class="col-12 text-center">
            <i class="fa fa-chevron-circle-up" style="font-size:36px;color:white"></i>
        </div>
        <div class="col-12 col-lg-4 offset-lg-4 mt-2">
            <form action="/action_page.php">
            <div class="input-group mb-3">
                <input required type="text" class="form-control" placeholder="Your Email" name="email">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>
        </div>
        <div class="col-12 text-center pt-3">
            <img src="./assets/facebook.svg" alt="Face book">&nbsp;&nbsp;
            <img src="./assets/instagram.svg" alt="instagram">&nbsp;&nbsp;
            <img src="./assets/twitter.svg" alt="twitter">&nbsp;&nbsp;
            <img src="./assets/location.svg" alt="location">&nbsp;&nbsp;
        </div>
        <div class="col-12 text-center mt-4">
            <p class="text-secondary">Copy Right &copy; AbhijeetDudhe</p>
        </div>
    </div>
</footer>
        