    <!-- <p>blog4 works!</p>
    <div class="masthead container-fluid" style="background-image: url('./assets/narutocombine.jpg');">
        <div class="color-overlay d-flex justify-content-center align-items-center">
          
                <h1 class="bigining">Inspirational Anime Quotes</h1>
          
        </div>
    </div> -->
    <!-- <section class="container-fluid mt-5" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 text-center">
                    <h1 style="color: rgba(10, 10, 83, 0.822);">10 Best Anime (Naruto) Quotes About Life and Lessons They Can Teach Us</h1>
                </div>
                <div class="col-lg-12 col-12">
                    <a href="blog3"><img class="img-fluid mx-auto d-block" src="./assets/narutocombine.jpg" alt="dish2" width="75%" height="mx-auto"></a>
                </div>
            </div>
            </div>
            </section>  -->
    <section class="container-fluid py-5" >
        <div class="container">
    <div class="row">
        <div class="col-lg-12 col-12 text-center mb-5">
            <h1 style="font-size:3rem;">Top 10 Popular Bikes in India in 2023</h1>
        </div>
        <div class="col-lg-12 col-12">
            <h1>1. Bullet Classic 350's </h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/Royal Enfield.jpg" alt="dish2"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Bullet Classic 350's</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>2. Jawa-42</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/java.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12 pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Jawa-42</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>3. Harley-Davidson Sportster S</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/_HDSportster.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Harley-Davidson Sportster S</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>4. Intruder </h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/intruder-150.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12 pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Intruder</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>5. Suzuki Hayabusa</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/hayabusa.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Suzuki Hayabusa</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>6. Kawasaki Ninja ZX-10R</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/KAWASAKI.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Kawasaki Ninja ZX-10R</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>7. KTM RC 125</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/ktm.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen"> KTM RC 125</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div> 
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>8.  FZ-FI</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/Fz.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">FZ-FI</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div> 
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>9. Avenger 220 Cruise</h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/Avenger.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12  pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Avenger 220 Cruise</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div>   
    </div>
    <div class="row py-3">
        <div class="col-lg-12 col-12">
            <h1>10. Royal Enfield Himalayan
            </h1>
        </div>
        <div class="col-lg-12 col-12 text-lg-center">
            <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/HIMILAYAN.jpg" alt="dish3"></a>
        </div>
        <div class="col-lg-12 col-12 pt-2">
            <h2 class="heading1"><span style="color:lawngreen">Royal Enfield Himalayan</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur placeat laudantium libero porro enim sit cum perspiciatis consequatur? 
                Esse voluptatem amet cupiditate, voluptatum velit libero praesentium consequuntur 
                aperiam molestiae dicta? 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam iste repellendus voluptates veritatis, fugiat reprehenderit expedita incidunt quaerat molestiae 
                impedit autem, facere ea sapiente delectus aspernatur earum, nesciunt laudantium.
            </p>
            <h2  style="color:lawngreen">continue watching</h2>
        </div> 
    </div>
    
    </div>
    </section>
    
    <footer class="container-fluid bg-dark py-3">
    <div class="row">
    <div class="col-12 text-center">
        <i class="fa fa-chevron-circle-up" style="font-size:36px;color:white"></i>
    </div>
    <div class="col-12 col-lg-4 offset-lg-4 mt-2">
        <form action="/action_page.php">
        <div class="input-group mb-3">
            <input required type="text" class="form-control" placeholder="Your Email" name="email">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
    </div>
    <div class="col-12 text-center pt-3">
        <img src="./assets/facebook.svg" alt="Face book">&nbsp;&nbsp;
        <img src="./assets/instagram.svg" alt="instagram">&nbsp;&nbsp;
        <img src="./assets/twitter.svg" alt="twitter">&nbsp;&nbsp;
        <img src="./assets/location.svg" alt="location">&nbsp;&nbsp;
    </div>
    <div class="col-12 text-center mt-4">
        <p class="text-secondary">Copy Right &copy; AbhijeetDudhe</p>
    </div>
    </div>
    </footer>
