/* .masthead{
    background-size: cover;
    min-height:8/0vh;
    position: relative;
    color:black;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
  }
  .bigining{
    font-size: 4rem;
  }
  .color-overlay{
    position: absolute;
   width: 100%;
    height: 100%;
  }
  @media (max-width:768px){
    .masthead{
     min-height: 30vh;
    }
    .bigining{
      font-size:calc(1.525rem + 3.3vw);
    }
} */