<div class="masthead container-fluid" style="background-image: url('./assets/sharingan.gif');">
    <div class="color-overlay d-flex justify-content-center align-items-center">
      
            <h1 class="bigining">Inspirational Anime Quotes</h1>
      
    </div>
</div>
<section class="container-fluid mt-5" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center">
                <h1 style="color: rgba(10, 10, 83, 0.822);">10 Best Anime (Naruto) Quotes About Life and Lessons They Can Teach Us</h1>
            </div>
            <div class="col-lg-12 col-12">
                <a href="blog3"><img class="img-fluid mx-auto d-block" src="./assets/narutocombine.jpg" alt="dish2" width="75%" height="mx-auto"></a>
            </div>
        </div>
        </div>
        </section> 
<section class="container-fluid py-5" >
    <div class="container">
<div class="row">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto1.png" alt="dish2"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-5">
        <h2 class="heading1"><span style="color:lawngreen">Naruto Uzumaki</span></h2>
        <h3>“Hard work is worthless for those that don’t believe in themselves."<span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Naruto Uzumaki</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto3.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-5">
        <h2 class="heading1"><span style="color:lawngreen">Kakashi Hatake</span></h2>
        <h3>“You Think You Get It, But That's Not The Same As Actually Getting It"<span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Kakashi Hatake</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto4.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-5">
        <h2 class="heading1"><span style="color:lawngreen">Sasuke Uchiha</span></h2>
        <h3>“No man chooses evil because he is evil; he only mistakes it for happiness, the good he seeks." <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Sasuke Uchiha</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto5.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-5">
        <h2 class="heading1"><span style="color:lawngreen">Itachi Uchiha</span></h2>
        <h3>“Those who cannot acknowledge themselves, will eventually fail."<span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Itachi Uchiha</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto6.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-4">
        <h2 class="heading1"><span style="color:lawngreen">Jiraiya</span></h2>
        <h3>“Any man that doesn’t learn to laugh at rejection, is worthless as a man." <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Jiraiya</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto7.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-4">
        <h2 class="heading1"><span style="color:lawngreen">Nagato  Uzumaki (Pain)</span></h2>
        <h3>“If You Don’t Share Someone’s Pain, You Can Never Understand Them." <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Pain</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto8.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-4">
        <h2 class="heading1"><span style="color:lawngreen">Minato Namikaze</span></h2>
        <h3>“If a man hasn’t discovered something that he will die for, he isn’t fit to live" <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Minato Namikaze</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div> 
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto9.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-4">
        <h2 class="heading1"><span style="color:lawngreen">Obito Uchiha</span></h2>
        <h3>“A real leader may let others step over his corpse, but he’ll never step over his comrades." <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Obito Uchiha</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div> 
</div>
<div class="row py-3">
    <div class="col-lg-4 col-12 text-lg-center">
        <a href="blog3"><img class="img-fluid pt-2 pr-2" src="./assets/naruto10.jpg" alt="dish3"></a>
    </div>
    <div class="col-lg-8 col-12 text-lg-center pt-5">
        <h2 class="heading1"><span style="color:lawngreen">Madara Uchiha</span></h2>
        <h3>“Wake up to reality! Nothing ever goes as planned in this accursed world. The longer you live, the more you realize." <span style="font-size:20px; color:rgba(0, 0, 0, 0.801)">– Madara Uchiha</span></h3>
        <h2  style="color:lawngreen">continue watching</h2>
    </div>   
</div>

</div>
</section>

<footer class="container-fluid bg-dark py-3">
<div class="row">
<div class="col-12 text-center">
    <i class="fa fa-chevron-circle-up" style="font-size:36px;color:white"></i>
</div>
<div class="col-12 col-lg-4 offset-lg-4 mt-2">
    <form action="/action_page.php">
    <div class="input-group mb-3">
        <input required type="text" class="form-control" placeholder="Your Email" name="email">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
</div>
<div class="col-12 text-center pt-3">
    <img src="./assets/facebook.svg" alt="Face book">&nbsp;&nbsp;
    <img src="./assets/instagram.svg" alt="instagram">&nbsp;&nbsp;
    <img src="./assets/twitter.svg" alt="twitter">&nbsp;&nbsp;
    <img src="./assets/location.svg" alt="location">&nbsp;&nbsp;
</div>
<div class="col-12 text-center mt-4">
    <p class="text-secondary">Copy Right &copy; AbhijeetDudhe</p>
</div>
</div>
</footer>