<div class="masthead container-fluid" style="background-image: url('./assets/learn.jpg');">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <marquee width="100%" direction="right">
            <h1>learn how to code</h1>
        </marquee>
    </div>
</div>

<section class="container-fluid ">
    <div class="container">
        <div class="row border border-1 mt-5">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog1"><img class="img-fluid pt-2 pb-2" src="./assets/blogimg.jpg" alt=""></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-start">
                <h2 class="heading"><b>8 Best Indian Stock Market Blogs to Follow</b></h2>
                <p>Best Indian Stock Market Blogs to Follow to Learn Investing: If you are looking for a few best Indian
                    stock market blogs to follow, then you have reached the right place.
                    Although there are hundreds of stock investing blogs in India, however, in this post we have
                    hand-picked 7 best Indian stock market blogs that every Indian equity investor should follow. (Quick
                    note: Please read this post till the end as there’s a bonus in the last section of this article).
                </p>
                <h2>continue watching</h2>
            </div>
        </div>
        <div class="row border border-1" style="padding: 0;">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog2"><img class="img-fluid pt-2 pb-2" src="./assets/dish1.jpg" alt=""></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-start">
                <h2 class="heading"><b>Top 10 Festival Foods In India</b></h2>
                <p>“Why do we prepare certain delicacies on festival occasions only?” “why milk is the core ingredient
                    in preparations on festivals like Janmashtami or why is modak a must have sweet during the festival
                    of Ganesh Chaturthi?”, and so on and so forth… All comes down to one thing that we all enjoy eating
                    each and every delicacies no matter what the occasion or festival it is. Some of the top celebrities
                    in India love these 20 Dishes.</p>

                <h2 style="line-height:5%;">continue watching</h2>
            </div>
        </div>
        <div class="row border border-1" style="padding: 0;">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog3"><img class="img-fluid mx-auto d-block pt-3" src="./assets/sharingan.gif"
                        alt="dish2"></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-start">
                <h2 class="heading"><b>10 Best Anime (Naruto) Quotes About Life and Lessons They Can Teach Us</b></h2>
                <p> <small>If you think anime series are just for kids, think again. Au contraire, mon frère. While they
                        may seem disarmingly straightforward, these cartoons offer sage life advice to anyone willing to
                        lend their ears (yes, adults too).
                        They emphasize the importance of discipline, dedication, hard work, friendship, and going for
                        what you believe is right. Often these real life values are shown through memorable quotes that
                        resonate with the audience long after each show.</small></p>
                <h2 class="heading">continue watching</h2>
            </div>
        </div>
        <div class="row border border-1" style="padding: 0;">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="blog4"><img class="img-fluid" src="./assets/Royal Enfield.jpg" alt=""></a>
            </div>
            <div class="col-lg-8 col-12 text-lg-start">
                <h2 class="heading"><b>Top 10 Popular Bikes in India in 2023</b></h2>
                <p> <small>India easily has one of the largest markets for two-wheelers, especially bikes, in the world.
                        As per a prediction, the two-wheeler industry in the country is expected to grow at a Compounded
                        Annual Growth Rate of 7.33%, reaching 24.89 million unit sales by 2024
                        There are several bike-manufacturing companies in India, which put out new two-wheeler models
                        each year, making it difficult for the average consumer to choose from these wide options. We
                        are here to simplify matters for you with the following list of the 10 most popular bikes in
                        India.</small></p>
                <h2 class="heading">continue watching</h2>
            </div>
        </div>
        <div class="row border border-1 mb-5" style="padding: 0;">
            <div class="col-lg-4 col-12 text-lg-end">
                <a href="home"><img class="img-fluid" src="./assets/images.jpg" alt=""></a>
            </div>
            <div class="col-lg-6 col-12 text-lg-start">
                <h2 class="heading"><b>Blog</b></h2>
                <p> <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur optio eligendi voluptate
                        ex. Consectetur ducimus voluptatum suscipit dicta, veritatis, dolor, assumenda quidem animi
                        numquam sit officiis exercitationem eveniet corrupti non.</small></p>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur optio eligendi voluptate ex.
                    Consectetur ducimus voluptatum suscipit dicta.</p>
                <h2 class="heading">Follow us</h2>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid bg-dark py-3">
    <div class="row">
        <div class="col-12 text-center">
            <i class="fa fa-chevron-circle-up" style="font-size:36px;color:white"></i>
        </div>
        <div class="col-12 col-lg-4 offset-lg-4 mt-2">
            <form action="/action_page.php">
                <div class="input-group mb-3">
                    <input required type="text" class="form-control" placeholder="Your Email" name="email">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-12 text-center pt-3">
            <img src="./assets/facebook.svg" alt="Face book">&nbsp;&nbsp;
            <img src="./assets/instagram.svg" alt="instagram">&nbsp;&nbsp;
            <img src="./assets/twitter.svg" alt="twitter">&nbsp;&nbsp;
            <img src="./assets/location.svg" alt="location">&nbsp;&nbsp;
        </div>
        <div class="col-12 text-center mt-4">
            <p class="text-secondary">Copy Right &copy; AbhijeetDudhe</p>
        </div>
    </div>
</footer>